@charset "utf-8";
/* *******************************************************
 * filename : main_responsive.css
 * description : 메인 레이아웃 및 컨텐츠 CSS
 * date : 2022-07-15
******************************************************** */

/* ****************** 메인 비주얼 :: 영상 ********************** */
@media all and ( max-width: 1280px ){
	/* .main-visual-video #cmVideo{top:-13%; right: -10%;} */
}
@media all and ( max-width: 800px ){
	.main-visual-video #cmVideo {top:-16%; right: -20%; width: 150%;}
}
@media all and ( max-width: 480px ){
	.main-visual-video #cmVideo.pc-ver{display: none;}
	.main-visual-video #cmVideo.m-ver{display: block;}
	.main-visual-video #cmVideo {top:-8%; left:0; width: 100%; transform:translate(0,0);}
}

/* ****************** 메인 비주얼 :: 텍스트 ********************** */
@media all and ( max-width: 800px ){
	.main-visual-con{padding-top: 13rem;}
	/* 메인 비주얼 :: 텍스트 */
	.main-visual-txt-box .main-visual-txt1{font-size:8rem; margin-bottom:0.1em;}
	.main-visual-txt-box .main-visual-txt2{font-size:8rem;}
}
@media all and ( max-width: 640px ){
	/* 메인 비주얼 :: 텍스트 */
	.main-visual-txt-box .main-visual-txt1{font-size:6rem;}
	.main-visual-txt-box .main-visual-txt2{font-size:6rem;}
}
@media all and ( max-width: 480px ){
	.main-visual-con{padding-top: 25rem;}
	/* 메인 비주얼 :: 텍스트 */
	.main-visual-txt-box .main-visual-txt1{font-size:5rem;}
	.main-visual-txt-box .main-visual-txt2{font-size:5rem;}
}

@media all and ( max-width: 800px ){
	#mainTopContent {padding-top: 38rem;}
	#mainTopContent:after{height: 38rem;}
}
@media all and ( max-width: 480px ){
	#mainTopContent {padding-top: 20rem;}
	#mainTopContent:after{height: 20rem;}
}

/* -------- 메인 컨텐츠 :: 01 회사소개 -------- */

@media all and ( max-width: 800px ){
	#mainBottomContent{padding-bottom: 20rem;}
}
@media all and ( max-width: 480px ){
	#mainBottomContent{padding-bottom: 15rem;}
}

/* -------- 메인 컨텐츠 :: 02 클라우드펀딩 -------- */
@media all and ( max-width: 1280px ){
	#mainFundingCon{padding-bottom: 10rem;}
}
@media all and ( max-width: 800px ){
	#mainFundingCon{padding-bottom: 10rem;}
	#mainFundingCon .area-box{/*overflow: hidden;*/}
	.main-funding-slide{width: 52%; height: calc(24vh + 30rem);}
	.main-funding-list .main-funding-item{width: 100%;}
	.main-funding-list .left-pos {margin-left: -27rem !important;}
	.main-funding-list .right-pos {margin-left:  27rem !important;}
	.main-funding-txt .category .img{margin-right: 0.5rem;}
	.main-funding-txt .category .cate-txt{font-size: 1.6rem;}
	.main-funding-txt{margin: 5rem -5rem 0;}
	.main-funding-progress{top: 42vh;}
}
@media all and ( max-width: 640px ){
	.main-funding-list .left-pos {margin-left: -17rem !important;}
	.main-funding-list .right-pos {margin-left:  17rem !important;}
}
@media all and ( max-width: 480px ){
	.main-funding-slide{width: 72%; height: calc(30vh + 22rem);}
	.main-funding-txt .tit{font-size: 2.4rem;}
	.main-funding-progress{margin-left: -42px; width: 84px; height: 2px;}
}

/* -------- 메인 컨텐츠 :: 버튼 -------- */
@media all and ( max-width: 800px ){
	#mainButton .about-con04-txt h5{
		font-size:2.8rem;
	}
	#mainButton .about-con04-txt p{
		font-size: 1.6rem;
	}	
}

@media all and ( min-width: 640px ){
	#mainButton .mainButton-wrapper{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		column-gap:1.8rem;
	}
	#mainButton .about-con04-item + .about-con04-item{
		margin-top:0;
	}
	#mainButton .about-con04-item{
    border: 1px #666 solid;
    border-radius: 1rem;
		padding: 0 2rem;
	}
	#mainButton .about-con04-item .guide{
		vertical-align: unset;
	}	
	#mainButton .about-con04-item .guide svg{
		width: 4.2rem;
	}	
	#mainButton .about-con04-bg{

	}
}
/* -------- 메인 컨텐츠 :: 03 비디오 -------- */
@media all and ( max-width: 800px ){
	.video-iframe-box {padding-top: 52.08%;}
}
@media all and ( max-width: 480px ){
	.video-iframe-box {padding-top: 100%;}
}

/* -------- 메인 컨텐츠 :: 04 셀럽 -------- */
@media all and ( max-width: 1280px ){
	/* .main-celeb-wrapper{width: 80%;} */
}
@media all and ( max-width: 800px ){
	/* .main-celeb-wrapper{width: 50%;} */
}
@media all and ( max-width: 640px ){
	.main-celeb-tit{font-size: 6rem;}
}
@media all and ( max-width: 480px ){
	.main-celeb-tit{font-size: 4.8rem;}
	/* .main-celeb-wrapper{width: 100%;} */
	.main-celeb-list{margin: -3rem -1.5rem;}
	.main-celeb-item{margin: 3rem 1.5rem; width: calc(100% - 3rem);}
}

/* -------- 메인 컨텐츠 :: 05 Q&A -------- */
@media all and ( max-width: 800px ){
	#mainQnaCon{padding-top: 30rem;}
}
@media all and ( max-width: 480px ){
	#mainQnaCon{padding-top: 20rem;}
}