{% extends "account/base.html" %}
{% load account i18n static %}
{% block head_title %} | {% trans "Change Password" %}{% endblock %}




{% block body %}
<div id="wrap" class="sub-wrap">
  <!-- container -->
  <div id="container">
    <!-- middleArea -->
    <div id="middleArea">
      <!-- content -->
      <section id="content" class="area-box">
        <!-- 실제 페이지 컨텐츠 내용이 시작되는 곳입니다 -->
          <div class="sub-page mypage-page">
            <div class="join-con step03">
              <h5 class="join-tit">아이디/비밀번호 찾기</h5>
              <div class="join-inner-box">
                {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
                <p class="join-txt">가입할 때 사용했던 이메일 주소를 입력해주세요. 해당 이메일로 비밀번호 재설정링크가 전송됩니다.</p>
                <div style="margin-top:3.5rem; text-align:center;">
                  <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                    {% csrf_token %}
                    <div class="modify-pw-check-item">
                      <div class="input-con">
                        <input type="email" name="email" class="cm-input" placeholder="이메일을 입력하세요">
                      </div>
                      <!-- 하단 알림 텍스트 영역 -->
                      <p class="check-list-alert">
                        {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                              {{ field.label }} : {{error | escape}}
                            {% endfor %}
                        {% endfor %}
                        {% endif %}
                      </p>                      
                    </div>
                    <div class="modify-pw-check-btn">
                      <!-- 비밀번호 입력하면 disabled 클래스 제거해주세요. -->
                      <button type="submit" class="cm-custom-button">이메일 전송</button>
                    </div>
                  </form>                  
                </div>
                <div class="join-mail-info">
                  <p>지속적인 에러가 있나요?</p>
                  <ul class="dot-txt">
                    <li><p>지속적으로 에러가 발생하는 경우, 아이디(이메일)을 기재하여 <span class="cm-font-color-y">support@onenonly.io</span>으로 문의하시거나 <span class="cm-font-color-y">챗봇 상담</span>을 이용해 주세요.</p></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        <!-- // 실제 페이지 컨텐츠 내용이 시작되는 곳입니다 -->
      </section>
      <!-- //content -->
    </div>
    <!-- //middleArea -->
  </div>
  <!-- // container -->  
</div>
<!-- // wrap -->
{% endblock body %}

{% block extra_scripts %}
{% endblock extra_scripts %}