<h3>원앤온리 환불규정</h3>
<h4>환불규정</h4>
<p>
  1. 일반티켓: 티켓 결제 대금의 결제를 마치신 이후에 구매 취소 및 환불을 원하시는 경우에는 티켓의 마이페이지에서 “구매 취소하기” 버튼을 클릭하신 후 구매 취소 신청서를 작성, 제출해주세요. 티켓 판매가 종료되지 않은 시점까지는 별도의 환불 수수료를 부과하지 않고 결제 대금 전액을 환불받으실 수 있으며, 티켓 판매가 종료된 이후에는 30%의 환불 수수료를 제한 금액을 환불받으실 수 있습니다. 
  <br><br>2. 결제 대금의 잔금까지 모두 결제를 마치고, 티켓 판매 마감 및 워니 확정 알림을 받으신 이후에 천재지변이나 신변상의 응급 상황이 발생했을 경우(예: 직계가족의 장례, 본인의 교통사고 등) 사유를 기재한 서면과 입증 서류를 제출하시면, 티켓 판매 마감 및 워니 확정 알림을 받으신 때로부터 1시간이 지난 이후에도 구매를 취소하실 수 있습니다. 이 때 발생하는 위약금은 다음과 같습니다.
  <br>&nbsp;&nbsp;&nbsp;&nbsp;- 계약체결일 ~ 계약체결일로부터 7일까지 사이: 위약금 없음
  <br>&nbsp;&nbsp;&nbsp;&nbsp;- 계약체결일로부터 8일 ~ 시간상품 해당일까지: 티켓 구매 금액 전체의 70%에 해당하는 금액
  <br><br>3. 결제 수단에 따른 환불 절차: 위 절차에 따라 구매 취소 신청을 완료하신 이후에는 결제하신 수단에 따라 다음과 같이 환불이 진행됩니다. 
  <br>&nbsp;&nbsp;&nbsp;&nbsp;- 무통장입금: 회원정보에 기재해주신 본인 명의의 계좌번호(미성년자의 경우, 입금자명과 동일한 예금주의 계좌번호)로 구매 취소 신청이 완료된 때로부터 7일 이내에 입금 
  <br>&nbsp;&nbsp;&nbsp;&nbsp;- 카드결제: 결제하신 카드사 승인 취소로 진행되며, 최대 10일까지 소요될 수 있습니다.  
  <br>&nbsp;&nbsp;&nbsp;&nbsp;- 휴대폰 결제: 당월은 결제 취소만 가능하며, 익월 이후 환불 건은 입금 확인 후 결제자 본인 계좌로만 환불이 가능합니다. 
  <br><br>4. 환불 결과 확인: 환불이 완료되면, 회원정보에 기재해주신 연락처로 카카오톡 알림 메시지를 통해 안내 드리며, 마이페이지의 구매 내역에서도 환불 결과를 확인하실 수 있습니다.
  <br><br>