commands:
  00_gpgkey:
    command: "sudo rpm --import https://repo.mysql.com/RPM-GPG-KEY-mysql-2022" 
  01_yum_update:
    command: "sudo yum update -y --skip-broken"
  02_yum_install_mysql:
    command: "sudo yum install -y gcc mysql-community-server mysql-devel mysql https://dev.mysql.com/get/mysql57-community-release-el7-11.noarch.rpm mysql-community-client"
  03_disable_mysql:
      command: "sudo yum-config-manager --disable mysql57-community"

container_commands:
  01_migrate:
    command: "source /var/app/venv/*/bin/activate"
    leader_only: true
