/*--------------------
Buttons
--------------------*/
.btn {
  display: block;
  background: hsl(86, 76%, 71%);
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  margin: 20px 0;
  padding: 15px 15px;
  border-radius: 5px;
  position: relative;
}
.btn::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.2s ease-in-out;
  box-shadow: inset 0 3px 0 hsla(0, 0%, 0%, 0), 0 3px 3px hsla(0, 0%, 0%, 0.2);
  border-radius: 5px;
}
.btn:hover::after {
  background: hsla(0, 0%, 0%, 0.1);
  box-shadow: inset 0 3px 0 hsla(0, 0%, 0%, 0.2);
}

/*--------------------
Form
--------------------*/
.form fieldset {
  border: none;
  padding: 0;
  padding: 10px 0;
  position: relative;
  clear: both;
}
.form fieldset.fieldset-expiration .select {
  width: 84px;
  margin-right: 12px;
  float: left;
}
@media screen and (max-width: 480px) {
  .form fieldset.fieldset-expiration .select {
    width: 70px;
    margin-right: 1px;
  }
}
.form fieldset.fieldset-ccv {
  clear: none;
}
.form fieldset label {
  display: block;
  text-transform: uppercase;
  font-size: 12px;
  color: hsla(0, 0%, 0%, 0.6);
  margin-bottom: 5px;
  font-weight: bold;
  font-family: Inconsolata;
}
.form fieldset label.question {
  line-height: 23px;
  font-size: 14px;
}
.form fieldset textarea {
  width: 100%;
}
.form fieldset input:not([type=radio]),
.form fieldset textarea,
.form fieldset .select {
  color: hsl(0, 0%, 20%);
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
  outline: none !important;
  border: 1px solid hsla(0, 0%, 0%, 0.3);
  box-shadow: inset 0 1px 4px hsla(0, 0%, 0%, 0.2);
}
.form fieldset input:not([type=radio]).input-cart-number,
.form fieldset textarea.input-cart-number,
.form fieldset .select.input-cart-number {
  width: 82px;
  display: inline-block;
  margin-right: 8px;
}
.form fieldset input:not([type=radio]).input-cart-number:last-child,
.form fieldset textarea.input-cart-number:last-child,
.form fieldset .select.input-cart-number:last-child {
  margin-right: 0;
}
@media screen and (max-width: 480px) {
  .form fieldset input:not([type=radio]).input-cart-number,
  .form fieldset textarea.input-cart-number,
  .form fieldset .select.input-cart-number {
    width: 50px;
    display: inline-block;
    margin-right: 1px;
  }
}
.form fieldset .select {
  position: relative;
}
.form fieldset .select::after {
  content: "";
  border-top: 8px solid #222;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  position: absolute;
  z-index: 2;
  top: 14px;
  right: 10px;
  pointer-events: none;
}
.form fieldset .select.q span {
  display: inline-block;
  width: 100% !important;
}
.form button {
  width: 100%;
  outline: none !important;
  background: linear-gradient(180deg, #49a09b, #3d8291);
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  box-shadow: none;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  margin-top: 90px;
}
.form button .fa {
  margin-right: 6px;
}

/*--------------------
Checkout & Swiper
--------------------*/
.swiper-container {
  margin: 150px auto 30px;
  width: 500px;
}

.swiper-slide {
  margin: 150px auto 30px;
  position: relative;
  width: 460px;
  padding: 160px 45px 30px;
}

.swiper-slide .fieldset {
  padding: 20px;
  background: white;
  border-radius: 15px;
}

.checkout {
  margin: 150px auto 30px;
  position: relative;
  width: 460px;
  background: white;
  border-radius: 15px;
  padding: 160px 45px 30px;
  box-shadow: 0 10px 40px hsl(0, 49%, 74%);
}

@media screen and (max-width: 480px) {
  .checkout {
    width: auto !important;
    margin: 100px 0 30px;
  }
  .swiper-container {
    width: 350px;
  }
  .swiper-slide {
    padding: 160px 0 30px 0;
    width: 380px !important;
  }
}
/*--------------------
Credit Card
--------------------*/
.credit-card-box {
  perspective: 1000px;
  width: 400px;
  height: 280px;
  position: absolute;
  top: -112px;
  left: 50%;
  transform: translateX(-50%);
}
.credit-card-box:hover .flip, .credit-card-box.hover .flip {
  transform: rotateY(180deg);
}
.credit-card-box .front,
.credit-card-box .back {
  width: 400px;
  height: 250px;
  border-radius: 15px;
  backface-visibility: hidden;
  background: linear-gradient(135deg, #bd6772, #53223f);
  position: absolute;
  color: #fff;
  font-family: Inconsolata;
  top: 0;
  left: 0;
  text-shadow: 0 1px 1px hsla(0, 0%, 0%, 0.3);
  box-shadow: 0 1px 6px hsla(0, 0%, 0%, 0.3);
}
.credit-card-box .front::before,
.credit-card-box .back::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("http://cdn.flaticon.com/svg/44/44386.svg") no-repeat center;
  background-size: cover;
  opacity: 0.05;
}
@media screen and (max-width: 480px) {
  .credit-card-box .front, .credit-card-box .back {
    width: 370px;
    height: 260px;
  }
}
.credit-card-box .flip {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}
.credit-card-box .logo {
  position: absolute;
  top: 9px;
  right: 20px;
  width: 100px;
}
.credit-card-box .logo svg {
  width: 100%;
}
.credit-card-box .front {
  z-index: 2;
  transform: rotateY(0deg);
}
.credit-card-box .back {
  transform: rotateY(180deg);
}
.credit-card-box .back .logo {
  top: 185px;
}
.credit-card-box .chip {
  position: absolute;
  width: 70px;
  height: 79px;
  top: 20px;
  left: 20px;
  background: linear-gradient(135deg, hsl(269, 54%, 87%) 0%, hsl(200, 64%, 89%) 44%, hsl(18, 55%, 94%) 100%);
  border-radius: 8px;
}
.credit-card-box .chip::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: 4px solid hsla(0, 0%, 50%, 0.1);
  width: 80%;
  height: 80%;
  background-image: url(../img/common/black_symbol.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
}
.credit-card-box .strip {
  background: linear-gradient(135deg, hsl(0, 0%, 25%), hsl(0, 0%, 10%));
  position: absolute;
  width: 100%;
  height: 50px;
  top: 30px;
  left: 0;
}
.credit-card-box .card-holder {
  position: absolute;
  margin: 0 auto;
  top: 120px;
  left: 19px;
  font-size: 15px;
}
.credit-card-box .sex {
  position: absolute;
  margin: 0 auto;
  top: 155px;
  left: 19px;
  font-size: 15px;
}
.credit-card-box .number,
.credit-card-box .card-expiration-date {
  position: absolute;
  margin: 0 auto;
  top: 195px;
  left: 19px;
  font-size: 15px;
  text-transform: capitalize;
}
.credit-card-box .card-expiration-date {
  text-align: right;
  left: auto;
  right: 20px;
}
.credit-card-box label {
  font-size: 10px;
  letter-spacing: 1px;
  text-shadow: none;
  text-transform: uppercase;
  font-weight: normal;
  opacity: 0.5;
  display: block;
  margin-bottom: 3px;
}
.credit-card-box .ccv {
  height: 36px;
  background: #fff;
  width: 91%;
  border-radius: 5px;
  top: 110px;
  left: 0;
  right: 0;
  position: absolute;
  margin: 0 auto;
  color: #000;
  text-align: right;
  padding: 10px;
}
.credit-card-box .ccv label {
  margin: -25px 0 14px;
  color: #fff;
}

@media screen and (max-width: 480px) {
  .credit-card-box {
    width: 370px;
    height: 260px;
  }
}
.the-most {
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 50vw;
  max-width: 200px;
  padding: 10px;
}
.the-most img {
  max-width: 100%;
}/*# sourceMappingURL=question.css.map */