{% extends 'auction/base.html' %} 
{% block content %}
<section class="section">
    <section class="container">

        <article class="card">
            <div class="card-content">
                <h4>About</h4>
                <p class="custom-font-1">경매에 참여하는법 설명</p>
</div>
        </article>
        <article class="card">
            <div class="card-content">
                <h4>홈페이지 설명</h4>
                <ul class="collection custom-font-1">
                    <li class="collection-item"><span class="chip"><i>PLAYPLZ</i></span> 플레이플리즈 옥션 홈 </li>
                    <li class="collection-item"><span class="chip"><i class="material-icons">store</i></span> 플레이플리즈 경매품리스트</li>
                    <li class="collection-item"><span class="chip"><i class="material-icons">view_list</i></span> 내 경매페이지</li>
                    <li class="collection-item"><span class="chip"><i class="material-icons">help</i></span> 소개페이지 </li>
                </ul>
            </div>
        </article>



    </section>
</section>

{% include 'auction/footer.html' %} {% endblock content %}