{% load static %}
<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=0,maximum-scale=10,user-scalable=no">
	<meta name="HandheldFriendly" content="true">
	<meta name="format-detection" content="telephone=no">
	<meta http-equiv="imagetoolbar" content="no">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="Robots" content="index,follow">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta property="og:type" content="website">
	<meta property="og:title" content="플레이플리즈">
	<meta property="og:description" content="">
	<meta property="og:image" content="">
	<meta property="og:url" content="">
	<link rel="canonical" href="">
    <title>플레이플리즈</title>
    <link rel="stylesheet" type="text/css" href="{% static 'paze/css/style.css' %}" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&display=swap&subset=korean" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
</head>

<body>	

<!-- 하단공통 -->
<footer id="footer">	
	<div class="wrap">
		<div class="ic"><img src="{% static 'paze/img/ft_i1.png' %}" alt="비욘디멘션 주식회사"></div>
		<ul class="list clear">			
			<li class="w1">
				<p class="m1">비욘디멘션 주식회사</p>
				<p class="m2">
					서울특별시 서초구 반포대로14길 71, 2115호 <br />
					사업자등록번호 448-87-02079 <br />
					통신판매업신고 2021-서울서초-2860 <br />
					대표자 : 조아란
				</p>
			</li>
			<li class="w2">
				<div class="lk_box">
					<a href="">회원약관</a>
					<a href="">개인정보처리방침</a>
					<a href="">영상정보처리방침</a>
					<a href="">이메일무단수집거부</a>
				</div>
			</li>
			<li class="w3">
				<div class="txt">
					<p class="m2">고객센터</p>
					<a href="tel:070-4366-3383" class="lk">070-4366-3383</a>
				</div>
				<div class="txt">
					<p class="m2">이메일</p>
					<p class="m3">admin@beyondimension.co.kr</p>
				</div>
			</li>
			<li class="w4">
				<p class="m2">Follow Us</p>
				<div class="abox">
					<a href="" target="_blank"><img src="{% static 'paze/img/sns_1.png' %}" alt="Twitter">Twitter</a>
					<a href="" target="_blank"><img src="{% static 'paze/img/sns_2.png' %}" alt="Facebook">Facebook</a>
					<a href="" target="_blank"><img src="{% static 'paze/img/sns_3.png' %}" alt="Instagram">Instagram</a>
					<a href="" target="_blank"><img src="{% static 'paze/img/sns_4.png' %}" alt="Behance">Behance</a>
					<a href="" target="_blank"><img src="{% static 'paze/img/sns_5.png' %}" alt="Dribble">Dribble</a>
				</div>
				<div class="copy">&copy; 2021 PLAYPLZ</div>
			</li>
		</ul>
	</div>
</footer>
<!-- 하단공통 -->

</body>
</html>