{% extends "base.html" %}
{% load static %}
<!-- {% load core_template_tags component_template_tags %} -->
{% block extra_head %}{% endblock extra_head %}
{% block head_title %} | 500 Error {% endblock %}

{% block body %}
<div id="wrap" class="sub-wrap">
  

  <!-- container -->
  <div id="container">
    <!-- middleArea -->
    <div id="middleArea">
      <!-- content -->
      <section id="content" class="area-box">
          <!-- 실제 페이지 컨텐츠 내용이 시작되는 곳입니다 -->
          <div class="sub-page mypage-page">
            <div class="join-con step03">
              <h5 class="join-tit">500 에러</h5>
              <div class="join-inner-box">
                <p class="join-txt">서버를 헤메는중...</p>
                <!-- <div style="margin-top:3.5rem; text-align:center;">
                </div> -->
                <div class="join-mail-info">
                  <p>지속적인 에러가 있나요?</p>
                  <ul class="dot-txt">
                    <li><p>지속적으로 에러가 발생하는 경우, 아이디(이메일)을 기재하여 <span class="cm-font-color-y">support@onenonly.io</span>으로 문의하시거나 <span class="cm-font-color-y">챗봇 상담</span>을 이용해 주세요.</p></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- // 실제 페이지 컨텐츠 내용이 시작되는 곳입니다 -->
      </section>
      <!-- //content -->
    </div>
    <!-- //middleArea -->
  </div>
  <!-- // container -->
</div>
<!-- // wrap -->
{% endblock body %}

{% block extra_scripts %}
{% endblock extra_scripts %}