{% extends "auction/base.html" %}
{% load static humanize %}
<!-- {% load core_template_tags component_template_tags %} -->
{% block extra_head %}{% endblock extra_head %}
{% block head_title %} | 경쟁티켓 구매 - {{ placement.placement_artist.name }}{% endblock %}

{% block body %}
	<div id="wrap" class="sub-wrap">
		<!-- container -->
		<div id="container">
			<!-- middleArea -->
			<div id="middleArea">
				<!-- content -->
				<section id="content" class="wide">
					
					<!-- 실제 페이지 컨텐츠 내용이 시작되는 곳입니다 -->
					<form id="funding" action="{% url 'auction:bidding' placement.id %}" method="post">
						{% csrf_token %}
						<div class="sub-page unboxing-page">
							<!-- <div class="unboxing-order-secret-video">
								<div class="visual-video">
									<video muted loop autoplay playsinline id="cmVideo" data-keepplaying>
										<source src="{{ placement.secret_video.url }}" type="video/mp4">
										Your browser does not support HTML5 video.
									</video>
								</div>
							</div> -->
							<div class="unboxing-order-secret-con">
								<div class="area-box">
									<div class="unboxing-order-secret-top">
										<div class="unboxing-order-secret-tit">
											<p class="sub-tit"><span class="font-nephilm">YOUR LIFE-CHANGING MOMENTS</span></p>
											<h5 class="tit">{{ placement.title | safe | linebreaksbr }}</h5>
										</div>
										<div class="unboxing-order-secret-txt">
											<ul class="unboxing-order-secret-price">
												<li class="price-item item01"><span onclick="CommonmodalPopupOpen('<b>시작가</b>\n<hr>구매 시작되는 가격으로, 해당 상품에 구매 참여 가능한 최소 가격', event);" class="tit text-hover-y">시작가 (KRW)</span><p class="estimated-price">{{ placement.placement_start_price | intcomma }}</p></li>
												<li class="price-item item01"><span onclick="CommonmodalPopupOpen('<b>추정가</b>\n<hr>해당 상품의 가치를 추정한 상품의 가격으로, 구매 완료될 것으로 예상되는 금액',event);" class="tit text-hover-y">추정가 (KRW)</span><p class="estimated-price">{{ placement.placement_estimated_price | intcomma }}</p></li>
												<!-- <li class="price-item item01"><span onclick="CommonmodalPopupOpen('<b>바로구매가</b>\n<hr>해당 상품을 바로 구매할 수 있는 가격',event);" class="tit text-hover-y">바로구매가 (KRW)</span><p class="estimated-price">{{ placement.placement_buynow_price | intcomma }}</p></li>-->
												<li class="price-item item02"><span class="tit">나의 경쟁구매가 (KRW)</span><input id="secret-bid" value="{{pbd.offer | intcomma }}" type="num" name="secret-bid" class="my-price cm-input" placeholder="가격입력" /></li>
												<li class="price-item item03"><span class="error"></span></li>
											</ul>
											<button ref="rev-secret" class="cm-custom-button bg-yellow" onclick="modalPopupOpen(event, '#popupFundingDetail');">구매하기</button>
										</div>
									</div>
									<div class="unboxing-order-secret-bottom">
										<p class="info-txt">구매에 참여하시면 취소가 불가능하며, 구매 성공 시 구매를 철회할 수 없습니다.</p><button class="view-btn" onclick="modalPopupOpen(event, '#popupFundingSecretNotice');">자세히 보기</button>
									</div>
								</div>
							</div>
						</div>
					</form>
					<!-- // 실제 페이지 컨텐츠 내용이 시작되는 곳입니다 -->

					<!-- 팝업 리스트 -->
					{% include "auction/unboxing/popup/funding_detail.html" with unit_price=pbd.offer type=placement.placement_type %}<!-- 상세_구매하기 모달 -->
					{% include "auction/unboxing/popup/secret_notice.html" %}<!-- 시크릿 공지 -->
					<!-- //팝업 리스트 -->

				</section>
				<!-- //content -->
			</div>
			<!-- //middleArea -->
		</div>
		<!-- // container -->
  </div>
  <!-- wrap-->
{% endblock body %}

{% block extra_scripts %}
<script>
$(function(){
// 시크릿 응찰
//init

	//input
	$('input[id=secret-bid]').on('input', function(){
		var $input = $('input[id=secret-bid]');
		var start_price = parseInt('{{placement.placement_start_price}}');
		var f_start_price=start_price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");


		//최소가격 메시지 띄우기
		if(parseInt($input.val().replace(/[^\d]+/g, ""))<start_price){
			$('.unboxing-order-secret-price .price-item.item03 .error').text(`${f_start_price}원 이상 금액을 입력해주세요.`);
			$('button[ref=rev-secret]').attr('disabled', true);
		}
		else if(parseInt($input.val().replace(/[^\d]+/g, "")) >= start_price){
			$('.unboxing-order-secret-price .price-item.item03 .error').text('');
			$('button[ref=rev-secret]').attr('disabled', false);		
		}

		if($input.val().length > 0 && ($input.val()[$input.val().length-1]>=0 && $input.val()[$input.val().length-1] <=9)){
			var nprice = parseInt($input.val().replace(/[^\d]+/g, ""));
			nprice=nprice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
			$input.val(nprice);
			$('#popupFundingDetail .unboxing-buy-tit b').text(`${nprice}원`)
		}else{
			$input.val('');
			$('button[ref=rev-secret]').attr('disabled', true);
			$('#popupFundingDetail .unboxing-buy-tit b').text('가격없음')		
		}
	});


})

</script>

{% endblock extra_scripts %}
