{% load humanize %}
<!-- 팝업 :: 바로구매  -->
<article class="layer-fixed-pop-wrapper layer-popup" id="popupUnboxingBuy">
	<div class="modal-fixed-pop-inner">
		<div class="modal-inner-box">
			<div class="modal-inner-content">
				<!-- 컨텐츠 영역 -->
				<form id="direct_buy" method="post" action="{{ url }}">
					{% csrf_token %}
					<section class="cm-modal-content cm-alret-modal-content">
						<div class="popup-inner-con long-ver">
							<div class="cm-modal-tit">
								<p class="unboxing-buy-tit"><b>{{ price | intcomma }}원</b>에 <br>바로 구매하시겠습니까?</p>
								<ul class="popup-dot-txt">
									<li>바로 구매는 당사가 정한 추정가로 상품을 구매할 수 있는 기능입니다.</li>
									<li>종료까지 남은 시간과 관계없이 바로 구매에 성공할 수 있습니다.</li>
									<li>구매 성공시, 구매 금액의 10% 수수료가 발생할 수 있습니다.</li>
									<li>자세한 사항은 원앤온리 <a style="color:var(--main-color)" href="{% url 'core:info-1' %}">이용약관</a>을 참고해주세요.</li>
								</ul>
							</div>
						</div>
						<div class="cm-modal-btn clearfix">
							<ul class="col-02">
								<li><a href="javascript:;" class="cm-basic-btn" onclick="modalPopupClose('#popupUnboxingBuy')">취소</a></li>
								<li><button type="submit" name="buynow-bid" class="cm-positive-btn">바로 구매</a></li>
							</ul>
						</div>
					</section>
				</form>
				<!-- // -->
			</div>
		</div>
	</div>
</article>