{% load humanize %}
<!-- 팝업 :: 구매 관련 주의사항  -->
<article class="layer-fixed-pop-wrapper layer-popup" id="popupFundingSecretNotice">
	<div class="modal-fixed-pop-inner">
		<div class="modal-inner-box">
			<div class="modal-inner-content">
				<!-- 컨텐츠 영역 -->
				<section class="cm-modal-content cm-alret-modal-content w-420"><!-- 가로로 좀 더 길게 쓸때는 w-420 클래스 붙혀주세요. -->
					<div class="popup-inner-con long-ver02"><!-- 내부 스크롤 영역 좀 더 길게 쓸때는 long-ver / 더 긴 것 long-ver02 클래스 추가 -->
						<div class="popup-funding-notice-list">
							<div class="popup-funding-notice-item">
								<h5 class="tit">구매 관련 주의 사항</h5>
								<p class="txt">
									구매에 참여하시면 취소가 불가능하며, 구매 성공 시 구매를 철회할 수 없습니다. 부득이하게 취소해야 하는 경우, 구매 성공일로부터 24시간 이내에 고객 센터에 철회 의사를 통보하고, 위약별로 <a href="{% url 'core:info-1' %}">최종 구매가의 30%에 해당하는 금액</a>을 구매 성공일로부터 24시간 이내에 납부하여야 합니다.
								</p>
							</div>
							<div class="popup-funding-notice-item">
								<h5 class="tit">기능 설명</h5>
								<p class="txt"><span class="sub-tit">경쟁구매</span>
								입력하신 구매가에 1회 구매하는 기능으로, 시작가 보다 높은 가격으로 구매금액을 수정할 수 있습니다.<br>
								다른 고객의 구매 가격이 공개되지 않으며, 구매 종료 시점에 가장 높은 금액을 제시하신 분이 구매에 성공하게 됩니다.</p>
							</div>
						</div>
					</div>
					<div class="cm-modal-btn clearfix">
						<ul class="col-01">
							<li><a href="javascript:;" class="cm-positive-btn" onclick="modalPopupClose('#popupFundingSecretNotice')">닫기</a></li>
						</ul>
					</div>
				</section>
				<!-- // -->
			</div>
		</div>
	</div>
</article>