<!-- 팝업 :: 테스트 모달 팝업  -->
<article class="layer-fixed-pop-wrapper layer-popup" id="popupTest">
	<div class="modal-fixed-pop-inner">
		<div class="modal-inner-box">
			<div class="modal-inner-content">
				<!-- 컨텐츠 영역 -->
				<section class="cm-modal-content cm-alret-modal-content"><!-- 가로로 좀 더 길게 쓸때는 w-420 클래스 붙혀주세요. -->
					<div class="popup-inner-con"><!-- 내부 스크롤 영역 좀 더 길게 쓸때는 long-ver / 더 긴 것 long-ver02 클래스 추가 -->
						<div class="cm-modal-tit">
							<!-- 타이틀 -->
							<p class="cm-txt">전자지급 결제대행 서비스 이용약관</p>
							<!-- · 붙는 텍스트 -->
							<ul class="popup-dot-txt">
								<li>이메일이 수신되지 않는 경우, 스팸메일함 또는 수신거부 메일 주소 목록에 @onenonly.io 형태의 메일 주소가 있는지 확인 부탁드립니다.</li>
								<li>지속적으로 수신되지 않는다면, 시도하고 있는 이메일 주소를 기재하여 support@onenonly.io으로 문의하시거나 챗봇 상담을 이용해 주세요.</li>
							</ul>
						</div>
					</div>
					<div class="cm-modal-btn clearfix">
						<!-- 버튼 1개일때 -->
						<ul class="col-01">
							<li><a href="./paying_complete.html" class="cm-positive-btn" onclick="modalPopupClose('#popupTest')">닫기</a></li>
						</ul>
						<!-- 버튼 2개일때 -->
						<!-- <ul class="col-02">
							<li><a href="javascript:;" class="cm-basic-btn" onclick="modalPopupClose('#popupUnboxingBuy')">취소</a></li>
							<li><a href="javascript:;" class="cm-positive-btn">바로 구매</a></li>
						</ul> -->
					</div>
				</section>
				<!-- // -->
			</div>
		</div>
	</div>
</article>