<!-- 팝업 :: 개인정보 처리방침  -->
<article class="layer-fixed-pop-wrapper layer-popup" id="popupPrivacy">
	<div class="modal-fixed-pop-inner">
		<div class="modal-inner-box">
			<div class="modal-inner-content">
				<!-- 컨텐츠 영역 -->
				<section class="cm-modal-content cm-alret-modal-content">
					<div class="cm-modal-tit">
						<p class="cm-txt">개인정보 처리방침</p>
					</div>
					<div class="cm-modal-btn clearfix">
						<ul class="col-01">
							<li><a href="javascript:;" class="cm-positive-btn" onclick="modalPopupClose('#popupPrivacy')">닫기</a></li>
						</ul>
					</div>
				</section>
				<!-- // -->
			</div>
		</div>
	</div>
</article>