<!-- 팝업 :: 주문 내역 모달  -->
<article class="layer-fixed-pop-wrapper layer-popup" id="popupFundingDetails">
	<div class="modal-fixed-pop-inner">
		<div class="modal-inner-box">
			<div class="modal-inner-content">
				<!-- 컨텐츠 영역 -->
				<section class="cm-modal-content cm-alret-modal-content w-420"><!-- 가로로 좀 더 길게 쓸때는 w-420 클래스 붙혀주세요. -->
					<div class="popup-inner-con long-ver"><!-- 내부 스크롤 영역 좀 더 길게 쓸때는 long-ver클래스 붙혀주세요. -->
						<div class="popup-funding-list">
							<div class="popup-funding-item">
								<h5 class="tit">구매 금액</h5>
								<table class="popup-funding-tbl">
									<colgroup>
										<col style="width: 38%;">
										<col style="width: *;">
									</colgroup>
									<tbody>
										<tr>
											<th>총 결제 금액</th>
											<td>00000000원</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="popup-funding-item">
								<h5 class="tit">결제 정보</h5>
								<table class="popup-funding-tbl">
									<colgroup>
										<col style="width: 38%;">
										<col style="width: *">
									</colgroup>
									<tbody>
										<tr>
											<th>결제 수단</th>
											<td>무통장 입금</td>
										</tr>
										<tr>
											<th>입금자명</th>
											<td>이은아</td>
										</tr>
										<tr>
											<th>입금 은행</th>
											<td>국민은행 60000221155777<br>원앤온리</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="cm-modal-btn clearfix">
						<ul class="col-01">
							<li><a href="javascript:;" class="cm-positive-btn" onclick="modalPopupClose('#popupFundingDetails')">닫기</a></li>
						</ul>
					</div>
				</section>
				<!-- // -->
			</div>
		</div>
	</div>
</article>