					<!-- ======================
					///// Begin tt-footer /////
					=========================== -->
					<footer id="tt-footer">
						<div class="tt-footer-inner">
							<!-- Begin footer column 
							========================= -->
							<div class="footer-col tt-align-center order-m-last">
								<div class="footer-col-inner">
									<p>
										<strong>주식회사 레브너</strong><br />
										서울특별시 서초구 강남대로 <br />
										479 신논현타워 B1층, 275호 <br />
										대표자 : 조아란
									</p>
								</div>
								<div class="footer-col-inner">
									<p>
										사업자등록번호<br /> 
										<a href="https://www.ftc.go.kr/bizCommPop.do?wrkr_no=4878802275" onclick="window.open(this.href, '_blank', 'width=350, height=350'); return false;">487-88-02275</a><br />
										통신판매업신고<br />
										<a href="https://www.ftc.go.kr/bizCommPop.do?wrkr_no=4878802275" onclick="window.open(this.href, '_blank', 'width=350, height=350'); return false;">2022-서울강남-01984</a>
									</p>
								</div>

								<div class="footer-col-inner">
									<p>
										<a href="{% url 'core:guide' %}">회사소개</a><br />							
										<a href="{% url 'core:info-1' %}">이용약관</a><br />
										<a href="{% url 'core:info-2' %}">개인정보취급방침</a><br />
										<a href="{% url 'core:info-3' %}">환불규정</a><br />

									</p>
								</div>

								<div class="footer-col-inner">
									<p>
										고객센터<br />
										<a href="tel:15337193">1533-7193</a><br />
										이메일<br />
										<a href="mailto:support@1nonly.io">support@1nonly.io</a>
									</p>
								</div>
							</div>
							<!-- Begin footer column -->

						</div> <!-- /.tt-section-inner -->
					</footer>
					<!-- End tt-footer -->